[submodule "public"]
	path = public
	url = https://github.com/karthikraobr/karthikraobr.github.io.git
	branch = master
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
	branch = master
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
